/* Asegúrate de que la clase 'text-center' esté definida en tu archivo CSS */
.text-center {
    text-align: center;
    margin-top: 10px; /* Espacio entre la imagen y el texto */
  }
  

 
  .card{
    background-color: transparent;
  }

.card:hover {
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.card {
    background-color:rgba(176, 196, 222, 0.384);   /*rgba(108, 117, 125, 0.5)/* Aplica el color secondary con transparencia 0.5 */
    color: black;
    margin-top: 8%;
    border: 0px none; 
    transition: box-shadow 0.5s ease; /* Aplica una transición suave a la propiedad box-shadow */
}

hr{
    width: 98%;
    margin: 0 auto;
}

img{
  height: 100%;
  width: 100%;
}

.card-header{
justify-content: center;
text-align: center;
background-color: inherit;
border-bottom: 3px solid black;
}

.card{
background-color: inherit;
}


ul li {
  background-color: inherit;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  /* Ajustar el ancho máximo */
  max-width: 100%; /* Limita el ancho máximo al 100% */
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}

/* Eliminar el margen negativo de .container-fluid */
.container-fluid {
  margin-top: -2%;
  /* Ajustar el ancho máximo */
  max-width: 100%; /* Limita el ancho máximo al 100% */
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}

