<div class="container-fluid p-5">
  <img src="../../../assets/banner_copia.png" alt="Banner" class="w-100">
</div>
<div class="container-fluid p-3">
  <img src="../../../assets/clothing_catalog.png" alt="Banner" class="w-100">
</div>
<hr class="my-0 border-4 border-primary">




@if (bdata)
{
<div class="row justify-content-center">
  @for (productos of bdata.productos; track productos) {
  <div class="card" style="width: 19rem;" [routerLink]="'/product/' + productos.id">
    <div class="card-header">
      {{productos.nombre}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <img src="{{productos.imagen[0]}}" />
      </li>
    </ul>
  </div>
  }
</div>
}






  