
  
  



<body>
<div class="container-fluid p-0">
    <img src="../../../assets/banner_copia.png" alt="Banner" class="w-100">
  </div>
  <div class="container-fluid p-3">
    <img src="../../../assets/clothing_catalog.png" alt="Banner" class="w-100">
  </div>
  <hr class="my-0 border-4 border-primary">
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <a href="https://www.google.com" class="card-link">
              <div class="card text">
                  <img src="../../../assets/sudadera_c.png" class="card-img" alt="Sudadera">
                  <div class="text-center">
                    <h4 class="card-title">Hoddies</h4>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-3">
          <a href="https://www.google.com" class="card-link">
              <div class="card text">
                  <img src="../../../assets/gorra_c.png" class="card-img" alt="Gorra">
                  <div class="text-center">
                    <h4 class="card-title">Caps</h4>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-3">
          <a href="https://www.google.com" class="card-link">
              <div class="card text">
                  <img src="../../../assets/pantalon_c.png" class="card-img" alt="Pantalón">
                  <div class="text-center">
                    <h4 class="card-title">Pants</h4>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-3">
          <a href="https://www.google.com" class="card-link">
              <div class="card text">
                  <img src="../../../assets/chaqueta_c.png" class="card-img" alt="Chaqueta">
                  <div class="text-center">
                    <h4 class="card-title">Jackets</h4>
                  </div>
              </div>
          </a>
      </div>
  </div>
  </div>
  
        
</body>

