/* Asegúrate de que la clase 'text-center' esté definida en tu archivo CSS */
.text-center {
    text-align: center;
    margin-top: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .col-md-3{
    margin-top: 20px;
    background-color: transparent;
    
  }

  .card{
    background-color: transparent;
  }

  .container-fluid{
    margin-top: -2%;
}
.card:hover {
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.card {
    background-color:rgba(176, 196, 222, 0.384);   /*rgba(108, 117, 125, 0.5)/* Aplica el color secondary con transparencia 0.5 */
    color: black;
    margin-top: 8%;
    border: 0px none; 
    transition: box-shadow 0.5s ease; /* Aplica una transición suave a la propiedad box-shadow */
}

hr{
    width: 98%;
    margin: 0 auto;
}

