.clothing-link {
  color: black; /* Color del texto por defecto */
  text-decoration: none; /* Quita el subrayado */
  transition: color 0.5s; /* Transición para el cambio de color */
  font-size: 2em;
  margin-top: -1.5%;
}

.clothing-link:hover {
  color: white; /* Cambia el color del texto al pasar el ratón */
  transition: color 0.5s; /* Transición para el cambio de color al pasar el ratón */
}
.no-margin {
  margin-top: 0; /* Elimina el margen superior */
  margin-bottom: 0; /* Elimina el margen inferior */
}
.nav-item {
  font-size: 1.5em; /* Ajusta el tamaño de fuente según sea necesario */
  
}