p{
    color: brown;
    }
    #loginHeader{ 
       background-color:rgba(33,37,41,255);
    }
    .card {
     
      
       
       
       margin: 20px auto; /* Centra la tarjeta horizontalmente */
    }