<!-- Container for all content -->
<div class="container mt-5">
    <!-- Registration section -->
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card">
          <div class="card-header text-center bg-dark text-light" id="registerHeader">
            <img src="../../../assets/logo.png" alt="" width="300px">
          </div>
        
          <div class="card-body bg-light text-dark">
            <!-- Registration form -->
            <form>
              <!-- Email field -->
              <div class="form-group mb-3">
                <label for="email">Email</label>
                <br>
                <input type="email" id="email" class="form-control" placeholder="Email" />
              </div>
              
              <!-- Name field -->
              <div class="form-group mb-3">
                <label for="name">Name</label>
                <br>
                <input type="text" id="name" class="form-control" placeholder="Name" />
              </div>

              <!-- Last name field -->
              <div class="form-group mb-3">
                <label for="lastName">Last Name</label>
                <br>
                <input type="text" id="lastName" class="form-control" placeholder="Last Name" />
              </div>

              <!-- Password field -->
              <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Password..." />
              </div>

              <!-- Confirm password field -->
              <div class="form-group mb-3">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password..." />
              </div>
  
              <!-- Button to submit the form -->
              <div class="text-center mb-3">
                <button type="button" class="btn btn-dark">Register</button>
              </div>
              
              <!-- Login section -->
              <div class="text-center">
                <p>Already have an account? <a href="../../log-in">Log In</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
