<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
        rel="stylesheet"
    >
    <link rel="stylesheet" href="about-us.component.css">
</head>

    <div class="parallax-image parallax-image-01"></div>
    <section>
        <h2>ABOUT US</h2>
        <h4> At CoolCentral, we're dedicated to providing you with a unique experience in urban and contemporary fashion. We're more than just a clothing store; we're a destination for style enthusiasts looking to stand out from the crowd.

            At CoolCentral, we merge the latest trends with the essence of individuality, offering an exclusive selection of high-quality garments that allow you to express your unique personality and distinctive style.
            
            Our commitment to quality, innovation, and authenticity drives us to collaborate with emerging designers and recognized brands, ensuring that each piece in our collection reflects the cutting edge of the fashion world.
            
            Join the CoolCentral community and discover a new way to express yourself through fashion. From city streets to the most exclusive events, we're here to elevate your style and take you to the center of freshness and authenticity.
            
            Welcome to CoolCentral, where style finds its focal point.</h4>
    </section>
    <div class="parallax-image parallax-image-02"></div>
    <section>
        <h2>FOUNDERS AND HISTORY</h2>
        <H4> In the year 2018, in the picturesque neighborhood of Ruzafa in Valencia, four visionary friends decided to combine their passions for urban fashion to bring CoolCentral to life. Víctor Tardón, Brian Torre, Santiago Cerezo, and Iván Hernándiz shared a common dream: to create a space where fashion was more than just a trend, where it became a form of authentic and personal expression. 

            From its humble beginnings in a small local shop, CoolCentral quickly found a place in the hearts of Valencians. The store became a meeting point for the community, where creativity and individuality were celebrated and encouraged. 
            
            CoolCentral's success did not go unnoticed, and it soon expanded beyond the borders of Valencia. Today, our stores are not only found in the bustling capital of Turia but also in the vibrant cities of Seville, Madrid, Barcelona, and Bilbao. As we continue our journey, we remain true to our core values of innovation, quality, and authenticity, bringing the spirit of CoolCentral to every corner of Spain.</H4>
    </section>
    <div class="parallax-image parallax-image-03"></div>
    <section>
        <h2> Frequently Asked Questions </h2>
        <h4>What payment options are available?</h4>
        <p>We accept payments by credit card, PayPal, and bank transfer. All transactions are secure and encrypted.</p>
        
        <h4>How long does it take for my order to arrive?</h4>
        <p>Delivery time depends on your location and the selected shipping method. Generally, orders are delivered within 3 to 5 business days.</p>
        
        <h4>How can I track my order?</h4>
        <p>Once your order has been shipped, you will receive a confirmation email with a link to track your package. You can also log in to your account on our website and access your order history to view the status of your shipment.</p>
        
        <h4>Do you offer international shipping?</h4>
        <p>Yes, we offer international shipping to most countries. Shipping costs and delivery times may vary depending on the location.</p>
        
        <h4>How can I contact customer service?</h4>
        <p>You can contact our customer service team through the contact form on our website, by sending us an email, or by calling the phone number during our business hours.</p>
        
        <h4>What should I do if I need to return an item?</h4>
        <p>If you need to return an item, please contact our customer service team for specific instructions on the return process.</p>
        
        <h4>How can I change my account password?</h4>
        <p>You can change your account password by logging into your account on our website and navigating to the account settings. From there, you will find the option to change your password.</p>
        
        <h4>Can I cancel or modify my order after placing it?</h4>
        <p>Unfortunately, once your order has been processed, we cannot make any changes or cancellations. We recommend reviewing your shopping cart carefully before confirming the order.</p>
        
        <h4>Do you offer discounts for frequent customers?</h4>
        <p>Yes, we offer special discounts and exclusive promotions for our frequent customers. Be sure to subscribe to our newsletter to receive notifications about our offers and promotions.</p>
        
        <h4>What should I do if I have an issue with my order?</h4>
        <p>If you experience any issues with your order, please contact our customer service team as soon as possible. We will be happy to assist you in resolving any issues you may have.</p>
    </section> 
