footer{
    margin-top: 3%;
}
.youtube {
    color: lightsteelblue;
    transition: 0.5s;
    text-decoration: none;
  }
.youtube:hover{
    color: red;
    transition: 0.5s;
}
.instagram {
    color: lightsteelblue;
    transition: 0.5s;
    text-decoration: none;
  }
.instagram:hover{
    color: #DD2A7B;
    transition: 0.5s;
}
.twitter {
    color: lightsteelblue;
    transition: 0.5s;
    text-decoration: none;
  }
.twitter:hover{
    color: rgb(39, 164, 196);
    transition: 0.5s;
}
.services li a {
    color: lightsteelblue;
    text-decoration: none;
    position: relative; /* Añadimos position relative para posicionar el pseudo-elemento */
    transition: color 0.5s; /* Añadimos transición para el cambio de color del texto */
}
.services li a::before {
    content: ''; /* Creamos el pseudo-elemento */
    position: absolute; /* Lo posicionamos absolutamente dentro del elemento padre */
    width: 0; /* Inicialmente establecemos su ancho a 0 para que no sea visible */
    height: 1px; /* Establecemos la altura de la línea */
    background-color: white; /* Color de la línea */
    bottom: -3px; /* La colocamos 3px por debajo del texto */
    left: 0; /* La iniciamos desde la izquierda */
    transition: width 0.5s ease-out; /* Añadimos una transición para animar el ancho */
}
.services li a:hover::before {
    width: 100%; /* Al pasar el ratón por encima, expandimos el ancho de la línea al 100% */
}
.services li a:hover {
    color: white; /* Cambia el color del texto a blanco al hacer hover */
    transition: 0.5s;
}